.game-field {
  background-color:#00FFFF;
  min-height: 10vh;
    margin: 1px 1px 1px 1px;
  line-height: 10vh;
 
}

.target {
 
 background:url("heart2.png");
  background-size:100% 100%;
  background-repeat: no-repeat ;
  color:white; 
  font-size: 20pt;
  text-align: center;
}

.miss {
  background-color: #8B0000;
}

body {
  background-color: #f0ffff;

}

@media (max-width: 550px) {
  .target {
    background-size:100% 100%;
   }  
	

  .game-field {
  background-color: #00FFFF;
  min-height: 9vh;
   margin: 1px 1px 1px 1px;
  line-height: 9vh;

}
.miss {
 background-color: #000080;
 
}


.game-field2 {
  background-color: red;
   text-align: center;
  color:white;
  font-size: 15pt;
  } 

  .game-field3 {
 
   text-align: center;
  color:#00bfff;
  font-size: 15pt;
  } 


.text-bottom{
 font-size: 18pt;
  text-align: center;
  color:#0000FF; 
}

.text-bottom2{
 font-size: 8pt;
  text-align: center;
  color:Snow; 
}
