.game-field {
  background-color:#00FFFF;
  min-height: 10vh;
    margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
 
 background:url("heart2.png");
  background-size:100% 100%;
  background-repeat: no-repeat ;
  color:white; 
  font-size: 20pt;
  text-align: center;
}

.miss {
  background-color: #8B0000;
}

@media (max-width: 550px) {
  .target {
    background-size:100% 100%;
   }  
	

  .game-field {
  background-color: #00FFFF;
  min-height: 9vh;
   margin: 1px 1px 1px 1px;
  line-height: 9vh;
}

}